{% extends 'base.html' %}

{% block title %}
    Lead Details
{% endblock %}

{% block content %}
    <section class="text-gray-600 body-font overflow-hidden mx-auto w-full">
        <div class="container px-5 py-12 mx-auto w-full">
            <div class="w-2/3 mx-auto">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
                    {{ lead.first_name }} {{ lead.last_name }}
                </h1>
                <div class="flex mb-4">
                    <a href="{% url 'leads:lead-detail' lead.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Overview</a>
                    <a href="{% url 'leads:lead-category-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Category</a>
                    <a href="{% url 'leads:lead-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Edit</a>
                </div>
                <p class="leading-relaxed mb-4">
                    {{ lead.description }}
                </p>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">First name</span>
                    <span class="ml-auto text-gray-900">{{ lead.first_name }}</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Last name</span>
                    <span class="ml-auto text-gray-900">{{ lead.last_name }}</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Age</span>
                    <span class="ml-auto text-gray-900">{{ lead.age }}</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Email</span>
                    <span class="ml-auto text-gray-900">{{ lead.email }}</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Phone number</span>
                    <span class="ml-auto text-gray-900">{{ lead.phone_number }}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-200 py-2">
                    <span class="text-gray-500">Agent</span>
                    <span class="ml-auto text-gray-900">{{ lead.agent }}</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}