{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Create Agent
{% endblock %}

{% block content %}

    <div class="max-w-lg mx-auto">
        <h1 class="text-4xl text-gray-800 my-5">Create a new agent</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 border-0 py-2 px-8 rounded-md mt-2">Submit</button>
        </form>
        <div class="mt-5 py-3 border-t border-gray-200">
            <a href="{% url 'agents:agent-list' %}" class="hover:text-blue-500">Go back to agents</a>
        </div>
    </div>

{% endblock %}